{
    "twitchLink": "None",
    "maxLevel": 65,
    "expGainingRate": 2, 
    "helpCommandCategorie": "Help",
    "curseWords": ["Fuck", "Fick", "ficken", "Nutte"],
    "highestSelfGiveableRole": "Nutzer",
    "standardTextChannels": [],
    "standardVoiceChannels": ["Fraktion-I", "Fraktion-II", "Fraktion-III", "Fraktion-IV"],
    "userLimit": 8,
    "maintananceRole": "El-Special",
    "modules": ["cogs.bot"],
    "version": "0.7.5 - ALPHA",
    "botName": "Meeseeks Bot | V/",
    "token": "your token"
}