{
    "maxLevel": 65,
    "expGainingRate": 2, 
    "helpCommandCategorie": "Help",
    "leveling": true,
    "curseWords": ["Fuck", "Fick", "ficken"],
    "highestSelfGiveableRole": "Nutzer",
    "standardTextChannels": [],
    "standardVoiceChannels": ["Fraktion-I", "Fraktion-II", "Fraktion-III", "Fraktion-IV"],
    "userLimit": 8,
    "maintananceRole": "El-Special",
    "token": "your token"
}