[Unit]
Description=Discord Bot build by some dude
After=network.target


[Service]
Type=simple
User=meeseeks
Group=meeseeks
ExecStart=python3 /home/meeseeks/mbot/meeseeks_bot.py

[Install]
WantedBy=multi-user.target