[Unit]
Description=Discord Bot build by some dude
After=network.target


[Service]
Type=simple
User=skynet
Group=skynet
ExecStart=python3 /home/skynet/sbot/skynet_bot.py

[Install]
WantedBy=multi-user.target