{   
    "BotSettings" :{
        "helpCommandCategorie": "Help"
    },
    "CommunitySettings":{
        "maxLevel": 100,
        "expGainingRate": 2,
        "MultiServerSync": false,
        "RolesOnVote": false,
        "SingleServerLeveling": true,
        "MultiServerLeveling": false
    },
    "ServerSettings":{
        "highestSelfGiveableRole": "Nutzer",
        "lowestSelfGiveableRole": "@everyone",
        "standardTextChannels": [],
        "standardVoiceChannels": ["Fraktion-I", "Fraktion-II", "Fraktion-III", "Fraktion-IV"],
        "userLimit": 8,
        "tmpCatName": "Temp-Channels",
        "tempChannelName": ["temp-channel"],
        "maintananceRole": "El-Special",
        "maintenanceCatName": "Infos & Support"
    },
    "PermissiionSettings":{
        "Roles":{
            "defaultRole":{
                "view_channel":false,
                "manage_channels":false,
                "manage_permissions" :false,
                "manage_webhooks":false,
                "create_instant_invite":false,
                "send_messages":false,
                "embed_links":false,
                "attach_files":false,
                "add_reactions":false,
                "use_external_emojis":false,
                "mention_everyone":false,
                "manage_messages":false,
                "read_message_history":false,
                "send_tts_messages":false,
                "use_application_commands":false,
                "connect":false,
                "speak":false,
                "stream":false,
                "use_voice_activation":false,
                "priority_speaker":false,
                "mute_members":false,
                "deafen_members":false,
                "move_members":false,
                "request_to_speak":false
            },
            "RoleByGCC":{
                "view_channel":true,
                "manage_channels":false,
                "manage_permissions":false,
                "manage_webhooks":false,
                "create_instant_invite":false,
                "send_messages":true,
                "embed_links":false,
                "attach_files":false,
                "add_reactions":true,
                "use_external_emojis":true,
                "mention_everyone":false,
                "manage_messages":false,
                "read_message_history":true,
                "send_tts_messages":true,
                "use_application_commands":false,
                "connect":true,
                "speak":true,
                "stream":true,
                "use_voice_activation":true,
                "priority_speaker":false,
                "mute_members":false,
                "deafen_members":false,
                "move_members":false,
                "request_to_speak":true
            },
            "Junior Admin":{
                "view_channel":true,
                "manage_channels":false,
                "manage_permissions":false,
                "manage_webhooks":false,
                "create_instant_invite":false,
                "send_messages":true,
                "embed_links":false,
                "attach_files":false,
                "add_reactions":true,
                "use_external_emojis":true,
                "mention_everyone":true,
                "manage_messages":true,
                "read_message_history":true,
                "send_tts_messages":true,
                "use_application_commands":false,
                "connect":true,
                "speak":true,
                "stream":true,
                "use_voice_activation":true,
                "priority_speaker":false,
                "mute_members":true,
                "deafen_members":true,
                "move_members":true,
                "request_to_speak":true
            },
            "Admin":{
                "view_channel":true,
                "manage_channels":false,
                "manage_permissions":false,
                "manage_webhooks":false,
                "create_instant_invite":false,
                "send_messages":true,
                "embed_links":true,
                "attach_files":false,
                "add_reactions":true,
                "use_external_emojis":true,
                "mention_everyone":true,
                "manage_messages":true,
                "read_message_history":true,
                "send_tts_messages":true,
                "use_application_commands":true,
                "connect":true,
                "speak":true,
                "stream":true,
                "use_voice_activation":true,
                "priority_speaker":true,
                "mute_members":true,
                "deafen_members":true,
                "move_members":true,
                "request_to_speak":true        
            },
            "Senior Admin":{
                "view_channel":true,
                "manage_channels":true,
                "manage_permissions":false,
                "manage_webhooks":false,
                "create_instant_invite":false,
                "send_messages":true,
                "embed_links":true,
                "attach_files":true,
                "add_reactions":true,
                "use_external_emojis":true,
                "mention_everyone":true,
                "manage_messages":true,
                "read_message_history":true,
                "send_tts_messages":true,
                "use_application_commands":true,
                "connect":true,
                "speak":true,
                "stream":true,
                "use_voice_activation":true,
                "priority_speaker":true,
                "mute_members":true,
                "deafen_members":true,
                "move_members":true,
                "request_to_speak":true
            }
        }
    }
}