{   
    "BotSettings" :{
    },
    "CommunitySettings":{
        "BlackListedWords":[],
        "Leveling":{
            "Enalbled": true,
            "MaxLevel": 100,
            "ExpGainingRate": 2
        },
        "MultiServerSync": {
            "Enalbled" : false,
            "SyncRoles" : false,
            "SyncChannel" : false,
            "SyncLevel" : false,
            "SyncBannedUser" : false
        }
    },
    "ServerSettings":{
        "HighestSelfGiveableRole": "Nutzer",
        "LowestSelfGiveableRole": "@everyone",
        "StandardTextChannels": ["Text"],
        "StandardVoiceChannels": ["Voice"],
        "UserLimit": 8,
        "TempCatName": "Temp-Channels",
        "TempChannelName": ["temp-channel"],
        "ModeratorRole": "Moderator",
        "AdminRole": "Admin",
        "MaintenanceRole": "Bot Admin",
        "maintenanceCatName": "Infos & Support"
    },
    "PermissionSettings":{
        "Roles":{
            "defaultRole":{
                "view_channel":false,
                "manage_channels":false,
                "manage_permissions" :false,
                "manage_webhooks":false,
                "create_instant_invite":false,
                "send_messages":false,
                "embed_links":false,
                "attach_files":false,
                "add_reactions":false,
                "use_external_emojis":false,
                "mention_everyone":false,
                "manage_messages":false,
                "read_message_history":false,
                "send_tts_messages":false,
                "use_application_commands":false,
                "connect":false,
                "speak":false,
                "stream":false,
                "use_voice_activation":false,
                "priority_speaker":false,
                "mute_members":false,
                "deafen_members":false,
                "move_members":false,
                "request_to_speak":false
            },
            "RoleByCspace":{
                "view_channel":true,
                "manage_channels":false,
                "manage_permissions":false,
                "manage_webhooks":false,
                "create_instant_invite":false,
                "send_messages":true,
                "embed_links":false,
                "attach_files":false,
                "add_reactions":true,
                "use_external_emojis":true,
                "mention_everyone":false,
                "manage_messages":false,
                "read_message_history":true,
                "send_tts_messages":true,
                "use_application_commands":false,
                "connect":true,
                "speak":true,
                "stream":true,
                "use_voice_activation":true,
                "priority_speaker":false,
                "mute_members":false,
                "deafen_members":false,
                "move_members":false,
                "request_to_speak":true
            },
            "Moderator":{
                "view_channel":true,
                "manage_channels":false,
                "manage_permissions":false,
                "manage_webhooks":false,
                "create_instant_invite":false,
                "send_messages":true,
                "embed_links":false,
                "attach_files":false,
                "add_reactions":true,
                "use_external_emojis":true,
                "mention_everyone":true,
                "manage_messages":true,
                "read_message_history":true,
                "send_tts_messages":true,
                "use_application_commands":false,
                "connect":true,
                "speak":true,
                "stream":true,
                "use_voice_activation":true,
                "priority_speaker":false,
                "mute_members":true,
                "deafen_members":true,
                "move_members":true,
                "request_to_speak":true
            },
            "Admin":{
                "view_channel":true,
                "manage_channels":true,
                "manage_permissions":false,
                "manage_webhooks":false,
                "create_instant_invite":false,
                "send_messages":true,
                "embed_links":true,
                "attach_files":true,
                "add_reactions":true,
                "use_external_emojis":true,
                "mention_everyone":true,
                "manage_messages":true,
                "read_message_history":true,
                "send_tts_messages":true,
                "use_application_commands":true,
                "connect":true,
                "speak":true,
                "stream":true,
                "use_voice_activation":true,
                "priority_speaker":true,
                "mute_members":true,
                "deafen_members":true,
                "move_members":true,
                "request_to_speak":true
            }
        }
    }
}